*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html{
    font-size: 16px;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    gap: 1rem;
    border-radius: 1.5rem;
}

main input{
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    height: 6rem;
    cursor: default;
    text-align: right;
}

main .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

main .container button{
    color: white;
    background-color: rgb(64, 64, 64);
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
}

main .container button:hover{
    background-color: rgb(88, 88, 88);
}

main .container .zero{
    width: 100%;
    grid-column: span 2;
    border-radius: 2rem;
}

main .container .lighter{
    color: black;
    background-color: rgb(134, 134, 134);
}

main .container .lighter:hover{
    background-color: rgb(108, 108, 108);
}

main .container .orange{
    background-color: rgb(252, 169, 16);
}

main .container .orange:hover{
    background-color: rgb(212, 143, 14);
}